@import "variables";

html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 1.125rem;
  color: $dt_font;
  background-image: linear-gradient(to bottom right, $dt_bg2, $dt_bg1, $dt_bg1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: 0.5s;
}

.lightMode {
    color: $lt_font;
    background-image: linear-gradient(to bottom right, $lt_bg2, $lt_bg1, $lt_bg1);
    transition: 0.5s;
}
