nav {
  width: 100%;
  height: 50px;
  background-color: $dt_navbg;
  position: fixed;
  top:0;
  z-index: 1000;
  .navbar-items {
    height: 100%;
  }
  .nav-item {
    height: 50px;
    width: 18vw;
    padding: 10px 0;
  }
  .nav-item:hover{
    cursor: pointer;
    background-color: #0073ff;
    color: $lt_font;
    transition: 0.5s;
  }
  a {
    font-weight: 300;
    text-decoration: none;
    color: $dt_font;
  }

  .hamburger-menu {
    display: none;
    float: right;
    margin: 0.625rem 1.5rem;
    > span {
      display: block;
      width: 20px;
      height: 2px;
      margin: 5px 1px;
      background-color: white;
    }
  }
  
  @media screen and (max-width: 640px) {
    .navbar-items {
        display: none
    }
    .hamburger-menu {
        display: block;
    }
  }
}

.mobile-nav {
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 1000;
  width: 40vw;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  background-color: $dt_navbg;
  text-align: center;
  div {
      font-weight: 400;
      text-decoration: none;
      padding: 5vh 0;
      color: $dt_font;
  }
}

.lightMode-nav {
    background-color: $lt_navbg;
    color: $lt_font;
    transition: 0.5;
}

.lightMode-nav a{
    color: $lt_font;
    transition: 0.5s;
}

.lightMode #mobile-menu {
    background-color: $lt_navbg;
    color: $lt_font;
    transition: 0.5s;
}

.lightMode #mobile-menu a{
    color: $lt_font;
    transition: 0.5s;
}

.lightMode-nav .hamburger-menu > span {
    background-color: black;
    transition: 0.5s;
}