//light theme

//darktheme #1
$dt_bg: #000c1b;
$dt_font: #2be7ff;
$dt_navbg: #00152e;

//lighttheme #1
$lt_bg: #d0fcf6;
$lt_font: #000c1b;
$lt_navbg: #8fd6ff;

// Font Sizes paragraphs
$font-sm: 0.875rem;  // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.5rem;    // 20px