//light theme

//darktheme #1
$dt_bg1: #00060e;
$dt_bg2: #003e8a;
$dt_font: #ffee00;
$dt_navbg: #00152e;

//lighttheme #1
$lt_bg1: #d1fff9;
$lt_bg2: #dbfdf9;
$lt_font: #000c1b;
$lt_navbg: #8fd6ff;

// Font Sizes paragraphs
$font-sm: 0.875rem;  // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.5rem;    // 20px