@import "globals";
@import "variables";
@import "nav";


.flex {
    display: flex;
    &-jc-c{
        justify-content: center;
    }
    &-ai-c {
    align-items: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-e{
        justify-content: end;
    }
}

.container {
  height: 100vh;
}

.headings {
  border-left: solid 2px;
  margin: 1.725rem;
  padding: 0 20px;
  h1, h2 {
      font-weight: 200;
  }
}

h1{
    font-size: 6rem;
}
h2 {
    font-size: 3.25rem;
}

// .container {
  
// }

.paragraph {
  margin: 1.5rem;
  text-align: justify;
}

.skills {
  img {
    width: 100%;
  }
}
// Media Queries

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3.75rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
}