@import "globals";
@import "variables";
@import "nav";
@import "keyframes";

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.inline {
  display:inline;
}

.inline-block {
  display: inline-block;
}

.responsive-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.responsive-grid-3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.flex {
    display: flex;
    &-jc-c{
        justify-content: center;
    }
    &-ai-c {
    align-items: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-e{
        justify-content: end;
    }
}


.container {
  height: 100vh;
  opacity: 0;
  .col-50 {
    width: 50%;
  }
}
.bg-img{
  position: relative;
  width: 100%;
  height: 100%;
  .headings {
    border-left: solid 2px;
    margin: 1.725rem;
    padding: 0 20px;
    h1 {
      position: relative;
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 50vw;
    background-image: url('/resources/img/my_picture.jpg');
    background-size: cover;
    background-position: -1000px right;
    opacity: 0.20;
    border-radius: 100% 25% 100% 25%;
  }
}
.about-me {
  margin: 1.725rem;
}

h1, h2 {
    font-weight: 200;
}

h1{
    font-size: 6rem;
}
h2 {
    font-size: 3.25rem;
}

a {
  text-decoration: none;
  color: white;
}

.skills {
  .skill-list {
    //background-color: #000000d0;
    padding: 20px;
    .skill{
      padding: 10px;
      font-size: 1.5rem;
    }
    .skill-progress-bar{
      background-color: #00193f;
      width: 100%;
      height: 5px;
      .skill-progress{
        height: 100%;
        background-color: $dt_font;
      }
      .html-progress{
        width: 80%;
      }
      .css-progress{
        width: 90%;
      }
      .php-progress {
        width: 50%;
      }
      .js-progress {
        width:30%;
      }
    }
  }
  img {
    width: 100%;
  }
}

#mapid {
  height: 100%;
  width: 100%
}
.contacts {
  background-color: #00000052;
  border-radius: 15px;
}
.contact-form {
  form {
    padding: 2rem;
    width: 100%;
    input {
      border: none;
      padding: 5px;
      margin: 0.325rem;
      width:100%;
      color: $dt_font;
      background-color: $dt_bg1;
    }
    textarea {
      resize: none;
      border: none;
      padding: 5px;
      margin: 0.325rem;
      width: 100%;
      height: 45vh;
      color: $dt_font;
      background-color: $dt_bg1;
    }
    #button {
      padding: 5px;
      border: none;
      border-radius: 10px;
      color: $dt_font;
      background-color: #00193f;
      width: 10rem;
    }
  }
}

.map {
  border: 5px solid #0052b1c9;
  border-radius: 100%;
  overflow: hidden;
}

.footer {
    padding: 20px 50px;
    border-top: 10px solid #ffffff96;
    h3 {
      font-size: 1.5rem;
      font-weight: 300;
    }
    a {
      position: relative;
    }
    a::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      width: 0%;
      height: 2px;
      background-color: $dt_font;
      transition: 0.5s;
    }
    a:hover::after{
      width:100%;
    }
}
// Media Queries

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    .bg-img::before {
      left: 0;
    }

    .map {
      border: none;
      border-radius: 0;
    }
    .responsive-grid-3 {
      grid-template-columns: auto;
    }
}

@media screen and (max-width: 768px) {
  h1 {
      font-size: 3.75rem;
  }
  h2 {
      font-size: 2.5rem;
  }

  .container:last-of-type {
    height: fit-content;
  }

  .contact-form {
    form {
      width: 75vw;
    }
  }
  .responsive-grid {
    grid-template-columns: auto;
  }
  .map {
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .contact-form form {
    padding: 1rem;
    width: 100%;
  }

  p {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    p {
      font-size: .9rem;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1rem;
    }
    p {
      font-size: 0.8rem;
    }
}