html {
  height: 100%;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 1.125rem;
  color: #2be7ff;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#003e8a), color-stop(#00060e), to(#00060e));
  background-image: linear-gradient(to bottom right, #003e8a, #00060e, #00060e);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lightMode {
  color: #000c1b;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#dbfdf9), color-stop(#d0fcf6), to(#d0fcf6));
  background-image: linear-gradient(to bottom right, #dbfdf9, #d0fcf6, #d0fcf6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #00152e;
  position: fixed;
  top: 0;
}

nav .navbar-items {
  height: 100%;
}

nav .nav-item {
  height: 50px;
  width: 18vw;
  padding: 10px 0;
}

nav .nav-item:hover {
  cursor: pointer;
  background-color: #0073ff;
  color: #000c1b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav a {
  font-weight: 400;
  text-decoration: none;
  color: #2be7ff;
}

nav .hamburger-menu {
  display: none;
  float: right;
  margin: 0.625rem 1.5rem;
}

nav .hamburger-menu > span {
  display: block;
  width: 20px;
  height: 2px;
  margin: 5px 1px;
  background-color: white;
}

@media screen and (max-width: 640px) {
  nav .navbar-items {
    display: none;
  }
  nav .hamburger-menu {
    display: block;
  }
}

.mobile-nav {
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 10;
  width: 40vw;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #00152e;
  text-align: center;
}

.mobile-nav div {
  font-weight: 400;
  text-decoration: none;
  padding: 5vh 0;
  color: #2be7ff;
}

.lightMode-nav {
  background-color: #8fd6ff;
  color: #000c1b;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.lightMode-nav a {
  color: #000c1b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lightMode #mobile-menu {
  background-color: #8fd6ff;
  color: #000c1b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lightMode #mobile-menu a {
  color: #000c1b;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lightMode-nav .hamburger-menu > span {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.container {
  height: 100vh;
}

.headings {
  border-left: solid 2px;
  margin: 1.725rem;
  padding: 0 20px;
}

.headings h1, .headings h2 {
  font-weight: 200;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.25rem;
}

.paragraph {
  margin: 1.5rem;
  text-align: justify;
}

.skills img {
  width: 100%;
}

.contact-form form {
  padding: 2rem;
  background-color: #00000052;
  border-radius: 15px;
  width: 50vw;
}

.contact-form form input {
  border: none;
  padding: 5px;
  margin: 0.325rem;
  width: 100%;
  color: #2be7ff;
  background-color: #00060e;
}

.contact-form form textarea {
  resize: none;
  border: none;
  padding: 5px;
  margin: 0.325rem;
  width: 100%;
  height: 45vh;
  color: #2be7ff;
  background-color: #00060e;
}

.contact-form form #button {
  padding: 5px;
  border: none;
  border-radius: 10px;
  color: #2be7ff;
  background-color: #001f4d;
  width: 10rem;
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .contact-form form {
    width: 75vw;
  }
}

@media screen and (max-width: 425px) {
  .contact-form form {
    padding: 1rem;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */